  {{!-- header section start --}}
    <header class="admin-header ">
       <div class="logo-section">
           <a class="logo" href="/"><img src="/images/logo1.png" alt="logo" /></a>
       </div>
       <div class="admin-text">
            <h2>Admin</h2>
       </div>
    </header>
   {{!-- header section end --}}