<link rel="stylesheet" href="/styles/user/login.css">

<main style="background-color: C7D2D6;">
   {{!-- header section start --}}
  {{> userheader}}
  {{!-- header section end --}}


  {{!-- sign in page start --}}
  <section class="login-section section-padding">
   <div class="login-page">
    <div class="login">
     <h3>
        Change Password
     </h3>
      <span style="color:red"class="error">{{message}}</span>
    <form action="/update-password" method="post" class="login-form" onsubmit="return validatePassword()">
  <div class="input-feild">
    <label class="input-title" for="password1">Password</label><br>
    <input class="login-input" type="password" placeholder="password" id="password1" name="newpass1">
    <br>
    <span style="color:red" id="password1_error" class="error"></span>
  </div>
  <div class="input-feild">
    <label class="input-title" for="password2">Confirm Password</label><br>
    <input class="login-input" type="password" placeholder="confirm password" id="password2" name="newpass2">
    <br>
    <span style="color:red" id="password2_error" class="error"></span>
  </div>
  <button class="login-btn" type="submit">Save</button><br>
</form>
   

    </div>
    

   </div>
  </section>
  {{!-- sign in page end --}}
</main>


<script>
  function validatePassword() {
  
    const password1 = document.getElementById("password1").value.trim();
    const password2 = document.getElementById("password2").value.trim();


    const password1Error = document.getElementById("password1_error");
    const password2Error = document.getElementById("password2_error");

    password1Error.innerText = "";
    password2Error.innerText = "";


    if (password1 === "") {
      password1Error.innerText = "Password is required.";
      return false;
    }

    if (password1.length < 6) {
      password1Error.innerText = "Password must be at least 6 characters long.";
      return false;
    }

    if (password2 === "") {
      password2Error.innerText = "Confirm password is required.";
      return false;
    }

    if (password1 !== password2) {
      password2Error.innerText = "Passwords do not match.";
      return false;
    }


    return true;
  }
</script>