<link rel="stylesheet" href="/styles/user/otp.css">

<main style="background-color: C7D2D6;">
  {{!-- header section start --}}
  {{> userheader}}
  {{!-- header section end --}}

  {{!-- sign in page start --}}
  <section class="otp-section section-padding">
   <div class="otp-page">
    <div class="otp">
    
    
    <form action="/otp" method="post" class="otp-form" onsubmit="return validateOtp()">
      <div class="input-feild">
       <label  class="input-title" for="login" >Enter your Phone number</label><br>
       <input class="otp-input" type="number" placeholder="enter your phone number" id="phone" name="phone"><br>
       <span style="color:red" id="phone_error" class="error"></span>
      </div>
      
      
      
      <button class="otp-btn" type="submit">Send OTP</button><br>
    </form>
   
    <a href="/login" style="all: unset;"><p class="otp-text">Back To Login</p></a>

    </div>
    

   </div>
  </section>
  {{!-- sign in page end --}}
</main>

  <script>
 
    

    function validateOtp() {

      let isValid = true;


      const phone = document.getElementById("phone").value.trim();
      const phoneError = document.getElementById("phone_error");

      phoneError.textContent = "";
 

     

      // Phone validation
      const phoneRegex = /^[0-9]{10}$/;
      if (phone === "") {
        phoneError.textContent = "Phone number is required.";
        isValid = false;
      } else if (!phoneRegex.test(phone)) {
        phoneError.textContent = "Enter a valid 10-digit phone number.";
        isValid = false;
      }

      
     
      return isValid;
    }
  </script>
