<link rel="stylesheet" href="/styles/user/otp.css">

<main >
  {{!-- header section start --}}
  {{> userheader}}
  {{!-- header section end --}}


  {{!-- otp in page start --}}
  <section class="otp-section section-padding">
   <div class="feild-otp-page">
    <div class="otp">
        <div class="feild-otp-text">
            <h1>OTP Verification</h1>
            <p class="feild-otp-text-subheading">We will send you a one time password on this <span>Mobile Number</span></p>
            <p class="otp-number">{{phone}}</p>
             <p style="text-align: center; color:red">{{message}}</p>
        </div>
    
    
    <form action="/otp-check" method="post" class="otp-form" >
      <div class="feild-otp-input-section">
      
         <input class="feild-otp-input"  id="otp-number" name="num1"><br>
         <input class="feild-otp-input"   id="otp-number" name="num2"><br>
         <input class="feild-otp-input"   id="otp-number" name="num3"><br>
         <input class="feild-otp-input"   id="otp-number" name="num4"><br>
          <input type="hidden"  name="phone" value="{{phone}}" ><br>
      </div>
      <div class="feild-otp-texts">
        <div >
           <p class="feild-otp-button-text">Do not send OTP</p>
        </div>
        <div >
          <a href="/otp" class="feild-otp-btn">send OTP</a>
          
        </div>
      </div>
      
      
      <button class="otp-btn" type="submit">Submit</button><br>
    </form>
   
  

    </div>
    

   </div>
  </section>
  {{!-- sign in page end --}}
</main>

  {{!-- <script>
 
    

    function validateOtp() {

      let isValid = true;


      const phone = document.getElementById("phone").value.trim();
      const phoneError = document.getElementById("phone_error");

      phoneError.textContent = "";
 

     

      // Phone validation
      const phoneRegex = /^[0-9]{10}$/;
      if (phone === "") {
        phoneError.textContent = "Phone number is required.";
        isValid = false;
      } else if (!phoneRegex.test(phone)) {
        phoneError.textContent = "Enter a valid 10-digit phone number.";
        isValid = false;
      }

      
     
      return isValid;
    }
  </script> --}}
