<link rel="stylesheet" href="/styles/user/viewproduct.css">

<main>
    <section>
{{!-- header section start --}}
  {{> userheader}}
  {{!-- header section end --}}



{{!-- product view start --}}
<div>

</div>



{{!-- product view end --}}
</section>


    
</main>